## Lab. Exercise(LE):


## 1) Write a Python program(WAPP) to input any two integers, and provide a menu to the user to select any of the options as add, subtract, multiply, divide and display the result accordingly

In [5]:
num1 = int(input("Enter first integer: "))
num2 = int(input("Enter second integer: "))

print("Select operation:")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")

choice = int(input("Enter choice (1/2/3/4): "))

if choice == 1:
    print("Result:", num1 + num2)
elif choice == 2:
    print("Result:", num1 - num2)
elif choice == 3:
    print("Result:", num1 * num2)
elif choice == 4:
    if num2 != 0:
        print("Result:", num1 / num2)
    else:
        print("Cannot divide by zero")
else:
    print("Invalid choice")

Enter first integer:  1
Enter second integer:  1

Select operation:
1. Add
2. Subtract
3. Multiply
4. Divide

Enter choice (1/2/3/4):  1

Result: 2

## 2) WAPP to check if a year is leap year or not.

In [6]:
# Python program to check if year is a leap year or not



# To get year (integer input) from the user
year = int(input("Enter a year: "))

# divided by 100 means century year (ending with 00)
# century year divided by 400 is leap year
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))

# not divided by 100 means not a century year
# year divided by 4 is a leap year
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))

# if not divided by both 400 (century year) and 4 (not century year)
# year is not leap year
else:
    print("{0} is not a leap year".format(year))

Enter a year:  2020

2020 is a leap year

## 3) WAPP to convert temperature from centigrade to Fahrenheit scale.

In [7]:
centigrade = float(input("Enter temperature in centigrade: "))
fahrenheit = (centigrade * 9/5) + 32
print("Temperature in Fahrenheit:", fahrenheit)

Enter temperature in centigrade:  12

Temperature in Fahrenheit: 53.6

## 4) WAPP to add two times in hour, minute & second format entered through the keyboard.

In [9]:
# Prompting the user to enter the first time in hours, minutes, and seconds
hours1, minutes1, seconds1 = map(int, input("Enter first time (hh:mm:ss): ").split(':'))

# Prompting the user to enter the second time in hours, minutes, and seconds
hours2, minutes2, seconds2 = map(int, input("Enter second time (hh:mm:ss): ").split(':'))

# Calculating the total seconds by adding the individual components of both times
total_seconds = (hours1 + hours2) * 3600 + (minutes1 + minutes2) * 60 + (seconds1 + seconds2)

# Calculating the final hours, minutes, and seconds from the total seconds
final_hours = total_seconds // 3600
final_minutes = (total_seconds % 3600) // 60
final_seconds = total_seconds % 60

# Printing the sum of times in hours, minutes, and seconds
print("Sum of times:", final_hours, "hours", final_minutes, "minutes", final_seconds, "seconds")

Enter first time (hh:mm:ss):  1:1:1
Enter second time (hh:mm:ss):  1:1:1

Sum of times: 2 hours 2 minutes 2 seconds

## 5) WAPP to check given number is Armstrong or not.

In [12]:
# Prompting the user to enter a number
number = int(input("Enter a number: "))

# Calculating the order of the number
order = len(str(number))
print(order)

# Initializing the sum variable
sum = 0

# Creating a temporary variable to store the number
temp = number

# Loop to calculate the sum of digits raised to the power of the order
while temp > 0:
    digit = temp % 10
    sum += digit ** order
    temp //= 10

# Checking if the number is an Armstrong number
if number == sum:
    print(number, "is an Armstrong number")
else:
    print(number, "is not an Armstrong number")

Enter a number:  1234

4
1234 is not an Armstrong number

## 6) WAPP to find out the factors of a number.

## 7) WAPP to print all even number between 100 to 200 using loop.

## 8) WAPP to find LCM of 2 numbers using while loop.

## 9) WAPP to findout the distance between two coordinates (x1, y1) & (x2, y2).

##  10)WAPP to find the multiplication table of any number using for loop.

## 11)WAPP to find Volume and Surface Area of Cylinder.

## 12)WAPP to find the roots of a quadratic equation ax2

## 13)KIIT DU has following rules for grading system:
http://coe.kiit.ac.in/examination-regulations.php#R1
WAPP to enter your marks of any 5 courses of 2 semesters through keyboard print the
corresponding grade.
Calculate SGPA for each semester and overall CGPA.

## 14)A student will not be allowed to sit in exam if his/her attendence is less than 70%.
Take following input from user:
• Number of classes held
• Number of classes attended
Print percentage of class attended and check the student is allowed to sit in exam or not.

## 15)High Radius Company decided to give bonus of 10% to employee if his/her year of service
is more than 5 years.
• Enter salary and year of service from keyboard and print the net bonus amount.
• Determine oldest and youngest among 3 employees by taking input(from user) of
their age.

## Home Exercise(HE):

## 1) WAPP to convert a quantity in meter entered through keyboard into its equivalent
kilometre and meter as per the following format.
Example. 2430 meter = 2 Km and 430 meter.

## 2) WAPP to print sum of all prime number between 1 to n using loop

## 3) WAPP to display the reverse of a number entered through keyboard.

## 4) WAPP to convert a decimal number into its equivalent number with base b.
Decimal number and b are the user input.

## 5) WAPP to sum the following series S=1+(1+2)+(1+2+3)+...+(1+2+3+...+n)