## Lab. Exercise(LE):
## Dataset- Salaries.csv 
## Answer the Following:

In [27]:
import pandas as pd
import numpy as np

## 1) Import the dataset "Salaries.csv".

In [3]:
# Load the data
df = pd.read_csv('Salaries.csv')
df

         rank discipline   phd  service     sex    salary
0        Prof          B  56.0       49    Male  186960.0
1        Prof          A  12.0        6    Male   93000.0
2        Prof          A  23.0       20    Male  110515.0
3        Prof          A  40.0       31    Male  131205.0
4        Prof          B  20.0       18    Male  104800.0
..        ...        ...   ...      ...     ...       ...
73       Prof          B  18.0       10  Female  105450.0
74  AssocProf          B  19.0        6  Female  104542.0
75       Prof          B  17.0       17  Female  124312.0
76       Prof          A  28.0       14  Female  109954.0
77       Prof          A  23.0       15  Female  109646.0

[78 rows x 6 columns]

## 2) Display how many rows and how many columns and Display first 10rowsandlast 15 rows.

In [16]:
import pandas as pd

# Import the dataset
df = pd.read_csv('Salaries.csv')

# Display the number of rows and columns
num_rows, num_cols = df.shape

# Display the first 10 rows
first_10_rows = df.head(10)

# Display the last 15 rows
last_15_rows = df.tail(15)
print("num_rows, num_cols",num_rows, num_cols)
print("--------------------------")
print("first_10_rows---->")
print(first_10_rows)
print("last_15_rows---->")
print(last_15_rows)

num_rows, num_cols 78 6
--------------------------
first_10_rows---->
        rank discipline   phd  service   sex    salary
0       Prof          B  56.0       49  Male  186960.0
1       Prof          A  12.0        6  Male   93000.0
2       Prof          A  23.0       20  Male  110515.0
3       Prof          A  40.0       31  Male  131205.0
4       Prof          B  20.0       18  Male  104800.0
5       Prof          A  20.0       20  Male  122400.0
6  AssocProf          A  20.0       17  Male   81285.0
7       Prof          A  18.0       18  Male       NaN
8       Prof          A  29.0       19  Male   94350.0
9       Prof          A  51.0       51  Male   57800.0
last_15_rows---->
         rank discipline   phd  service     sex    salary
63       Prof          A  29.0       27  Female   91000.0
64  AssocProf          A  26.0       24  Female   73300.0
65       Prof          A  36.0       19  Female  117555.0
66   AsstProf          A   7.0        6  Female   63100.0
67       Prof          A  17.0       11  Female   90450.0
68   AsstProf          A   4.0        2  Female   77500.0
69       Prof          A  28.0        7  Female  116450.0
70   AsstProf          A   8.0        3  Female   78500.0
71  AssocProf          B  12.0        9  Female   71065.0
72       Prof          B  24.0       15  Female  161101.0
73       Prof          B  18.0       10  Female  105450.0
74  AssocProf          B  19.0        6  Female  104542.0
75       Prof          B  17.0       17  Female  124312.0
76       Prof          A  28.0       14  Female  109954.0
77       Prof          A  23.0       15  Female  109646.0

## 3) Which Male and Female Professor has the highest and the lowest salaries?

In [23]:
import pandas as pd

# Assuming your dataset is stored in a DataFrame called df

# Filtering male professors
male_professors = df[df['sex'] =='Male']
# Finding male professor with highest salary
highest_male_salary = male_professors[male_professors['salary']== male_professors['salary'].max()]

# Finding male professor with lowest salary
lowest_male_salary =  male_professors[male_professors['salary']== male_professors['salary'].min()]

# Filtering female professors
female_professors = df[df['sex'] =='Female']
# Finding female professor with highest salary
highest_female_salary = female_professors[female_professors['salary']== female_professors['salary'].max()]

# Finding female professor with lowest salary
lowest_female_salary = female_professors[female_professors['salary']== female_professors['salary'].min()]

print("Male professor with highest salary:")
print(highest_male_salary)
print("\nMale professor with lowest salary:")
print(lowest_male_salary)
print("\nFemale professor with highest salary:")
print(highest_female_salary)
print("\nFemale professor with lowest salary:")
print(lowest_female_salary)

Male professor with highest salary:
   rank discipline   phd  service   sex    salary
0  Prof          B  56.0       49  Male  186960.0

Male professor with lowest salary:
   rank discipline   phd  service   sex   salary
9  Prof          A  51.0       51  Male  57800.0

Female professor with highest salary:
    rank discipline   phd  service     sex    salary
72  Prof          B  24.0       15  Female  161101.0

Female professor with lowest salary:
         rank discipline   phd  service     sex   salary
54  AssocProf          A  25.0       22  Female  62884.0

## 4) Which Professor takes the highest and lowest salaries?

In [24]:
# Finding professor with the highest salary
highest_salary_professor = df[df['salary'] == df['salary'].max()]

# Finding professor with the lowest salary
lowest_salary_professor = df[df['salary'] == df['salary'].min()]

print("Professor with the highest salary:")
print(highest_salary_professor)
print("\nProfessor with the lowest salary:")
print(lowest_salary_professor)

Professor with the highest salary:
   rank discipline   phd  service   sex    salary
0  Prof          B  56.0       49  Male  186960.0

Professor with the lowest salary:
   rank discipline   phd  service   sex   salary
9  Prof          A  51.0       51  Male  57800.0

## 5) Missing ‘Salaries’ - should be replaced as mean of the matching salariesof thosewhose ‘service’ is the same

In [25]:
# Replace missing 'Salary' values with the mean of matching salaries for those with the same 'service'
df['salary'] = df['salary'].fillna(df.groupby('service')['salary'].transform('mean'))

# Verify the changes
missing_salaries_replaced = df[df['salary'].isnull()]
missing_salaries_replaced

Empty DataFrame
Columns: [rank, discipline, phd, service, sex, salary]
Index: []

In [29]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [3, 4, np.nan], 'C': [5, 6, 7]})

# Check for null values in the 'B' column
null_values = df['B'].isnull()

# Print the rows that have null values in the 'B' column
print(df[null_values])

   A   B  C
2  3 NaN  7

## 6) Missing ‘phd’ - should be replaced as mean of the matching ‘service’

## 7) How many are Male Staff and how many are Female Staff.Showboth in numbers and Graphically using Pie Chart.

## 8) How many are Prof, AssocProf and AsstProf. Show both in numbers and Graphically using a Pie Chart.

## 10) Draw a histogram of the salaries divided into bin starting from 50Kandincrement
## of 15K