## ASSIGNMENTS ON NUMPY

In [2]:
import numpy as np
import math

## EXERCISE 1 - Element-wise addition of 2 numpy arrays
Given are 2 similar dimensional numpy arrays, how to get a numpy array output in which every
element is an element-wise sum of the 2 numpy arrays?

In [3]:
a1 = np.array([1,2,3])
a2 = np.array([4,5,6])

r = a1+a2
r

array([5, 7, 9])

## EXERCISE 2 - Multiplying a matrix (numpy array) by a scalar
Given a numpy array (matrix), how to get a numpy array output which is equal to the original
matrix multiplied by a scalar?

In [4]:
matrix = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
scalar = 2
r=matrix * scalar
r

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18]])

## EXERCISE 3 - Identity Matrix
Create an identity matrix of dimension 4-by-4

In [5]:
Identity_Matrix = np.eye(4)
Identity_Matrix

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

## EXERCISE 4 - Array re-dimensioning
Convert a 1-D array to a 3-D array

In [9]:
array = np.array([1,2,3,4,5,6])
reshaped_array = array.reshape((2,1,3))
reshaped_array

array([[[1, 2, 3]],

       [[4, 5, 6]]])

## EXERCISE 5 - Array datatype conversion
Convert all the elements of a numpy array from float to integer datatype

In [12]:
array_float = np.array([1.1, 2.2, 3.3, 4.4])
array_int = array_float.astype(int)
array_int

array([1, 2, 3, 4])

## EXERCISE 6 - Obtaining Boolean Array from Binary Array
Convert a binary numpy array (containing only 0s and 1s) to a boolean numpy array

In [13]:
binary_array = np.array([0, 1, 0, 1])
boolean_array = binary_array.astype(bool)
boolean_array

array([False,  True, False,  True])

## EXERCISE 7 - Horizontal Stacking of Numpy Arrays
Stack 2 numpy arrays horizontally i.e., 2 arrays having the same 1st dimension (number of rows in
2D arrays)

In [15]:
array1 = np.array([[1, 2], [3, 4]])
array2 = np.array([[5, 6], [7, 8]])

r = np.hstack((array1, array2))
r

array([[1, 2, 5, 6],
       [3, 4, 7, 8]])

## EXERCISE 8 - Vertically Stacking of Numpy Arrays
Stack 2 numpy arrays vertically i.e., 2 arrays having the same last dimension (number of columns in
2D arrays)

In [16]:
array1 = np.array([[1, 2], [3, 4]])
array2 = np.array([[5, 6], [7, 8]])

r = np.vstack((array1, array2))
r

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

## EXERCISE 9 - Custom Sequence Generation
Generate a sequence of numbers in the form of a numpy array from 0 to 100 with gaps of 2
numbers, for example: 0, 2, 4 ....

In [18]:
Sequence = np.arange(0,101,2)
Sequence

array([  0,   2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,
        26,  28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,
        52,  54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,
        78,  80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100])

## EXERCISE 10 - Getting the positions (indexes) where elements of 2
numpy arrays match
From 2 numpy arrays, extract the indexes in which the elements in the 2 arrays match

In [19]:
array1 = np.array([1, 2, 3, 4, 5])
array2 = np.array([5, 4, 3, 2, 1])

indices = np.where(array1==array2)
indices

(array([2], dtype=int64),)

## EXERCISE 11 - Generation of given count of equally spaced
numbers within a specified range
Output a sequence of equally gapped 5 numbers in the range 0 to 100 (both inclusive)

In [20]:
numbers = np.linspace(0, 100, 5)
print(numbers)

[  0.  25.  50.  75. 100.]

## EXERCISE 12 - Matrix Generation with one particular value
Output a matrix (numpy array) of dimension 2-by-3 with each and every value equal to 5

In [21]:
matrix = np.full((2,3),5)
matrix

array([[5, 5, 5],
       [5, 5, 5]])

## EXERCISE 13 - Array Generation by repeatition of a small array
across each dimension
Output an array by repeating a smaller array of 2 dimensions, 10 times

In [22]:
small_array = np.array([[1,2],[3,4]])
repeated_array = np.tile(small_array,(10,1,1))
repeated_array

array([[[1, 2],
        [3, 4]],

       [[1, 2],
        [3, 4]],

       [[1, 2],
        [3, 4]],

       [[1, 2],
        [3, 4]],

       [[1, 2],
        [3, 4]],

       [[1, 2],
        [3, 4]],

       [[1, 2],
        [3, 4]],

       [[1, 2],
        [3, 4]],

       [[1, 2],
        [3, 4]],

       [[1, 2],
        [3, 4]]])

## EXERCISE 14 - Array Generation of random integers within a
specified range
Output a 5-by-5 array of random integers between 0 (inclusive) and 10 (exclusive)

In [31]:
random_array =  np.random.randint(0,10,size=(5,5))
random_array

array([[3, 6, 4, 5, 8],
       [4, 4, 6, 7, 9],
       [0, 9, 2, 2, 5],
       [7, 3, 9, 1, 1],
       [3, 9, 0, 0, 9]])

## EXERCISE 15 - Array Generation of random numbers following
normal distribution
Output a 3-by-3 array of random numbers following normal distribution

In [32]:
random_array =  np.random.normal(size=(3,3))
random_array

array([[-1.26470251,  0.97158099, -0.26844818],
       [-1.12100666,  1.19615253, -1.53822536],
       [-0.62823957, -0.05325755, -0.54406998]])

## EXERCISE 16 - Matrix Multiplication
Given 2 numpy arrays as matrices, output the result of multiplying the 2 matrices (as a numpy
array)

In [35]:
matrix1 = np.array([[1, 2], [3, 4]]) # (mXn).(nXp) =mXp, n=n
matrix2 = np.array([[5, 6], [7, 8]])

result = np.dot(matrix1,matrix2)
result

array([[19, 22],
       [43, 50]])

## EXERCISE 17 - Matrix Transpose
Output the transpose of a matrix (as numpy array)

In [37]:
matrix = np.array([[1,2],[3,4],[5,6]])
matrix.T

array([[1, 3, 5],
       [2, 4, 6]])

## EXERCISE 18 - Sine of an Angle (in radians)
Calculate the sine of an array of angles (in radians) using NumPy

In [43]:
angles = np.array([0, np.pi / 2, np.pi])
sine_values = np.sin(angles)
print(sine_values)

[0.0000000e+00 1.0000000e+00 1.2246468e-16]

## EXERCISE 19 - Cosine Similarity
Calculate the cosine similarity of 2 vectors (as numpy arrays)

In [47]:
import numpy as np

vector1 = np.array([1, 2, 3])
vector2 = np.array([4, 5, 6])

cosine_similarity = np.dot(vector1,vector2)/(np.linalg.norm(vector1) * np.linalg.norm(vector2))
cosine_similarity

0.9746318461970762

## EXERCISE 20 - Generating the array element indexes such that
the array elements appear in ascending order

In [48]:
array = np.array([3, 1, 2])
sorted_indexes = np.argsort(array)
sorted_indexes

array([1, 2, 0], dtype=int64)

## NUMPY EXERCISES TO BE DONE IN RECORDS

##  Exercise 1. Import numpy as np and see the version

In [2]:
import numpy as np
np.__version__

'1.24.2'

##  Exercise 2. How to create a 1D array?

In [4]:
a = np.array([1,2,3,4,5])
a
# X = np.arange(10)
# X

array([1, 2, 3, 4, 5])

##  Exercise 3. How to create a boolean array?

In [13]:
# np.full((3,3),True,dtype=bool)
# np.full((3,3),False,dtype=bool)
# np.full((9),True,dtype=bool).reshape(3,3)
# np.ones((3,4),dtype=bool)
# np.zeros((3,4),dtype=bool)
np.ones((9),dtype=bool).reshape(3,3)

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

##  Exercise 4. How to extract items that satisfy a given
condition from 1D array?

In [16]:
arr = np.arange(10)
arr[arr%2 ==0]

array([0, 2, 4, 6, 8])

##  Exercise 5. How to replace items that satisfy a condition with
another value in numpy array?

In [17]:
arr = np.arange(10)
print(arr)
arr[arr%2 ==0] =0
print(arr)

[0 1 2 3 4 5 6 7 8 9]
[0 1 0 3 0 5 0 7 0 9]

##  Exercise 6. How to replace items that satisfy a condition without affecting the original array?

In [20]:
arr = np.arange(10)
print(arr)
cpy = arr.copy()
cpy[cpy%2 ==0] =0
print(arr)
print(cpy)

[0 1 2 3 4 5 6 7 8 9]
[0 1 2 3 4 5 6 7 8 9]
[0 1 0 3 0 5 0 7 0 9]

##  Exercise 7. How to reshape an array?

In [23]:
arr = np.arange(10)
print(arr.shape)
arr.reshape(2,5)

(10,)

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

##  Exercise 8. How to stack two arrays vertically?

In [3]:
array1 = np.array([[1, 2], [3, 4]])
array2 = np.array([[5, 6], [7, 8]])

r = np.vstack((array1, array2))
r

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

##   Exercise 9. How to stack two arrays horizontally?

In [4]:
array1 = np.array([[1, 2], [3, 4]])
array2 = np.array([[5, 6], [7, 8]])

r = np.hstack((array1, array2))
r

array([[1, 2, 5, 6],
       [3, 4, 7, 8]])

##  Exercise 10. How to generate custom sequences in numpy
without hardcoding?

In [9]:
a = np.array([1,2,3])

r = np.hstack((np.repeat(a,3), np.tile(a,3)))
r
# So, in summary, the code first repeats each element of the input array three times, then tiles the entire array three times, and finally concatenates them horizontally to get the desired output pattern.

array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])

##  Exercise 11. How to get the common items between two
python numpy arrays?

In [12]:
a = np.arange(1,10,2)
b = np.arange(5,15,2)

c = np.intersect1d(a,b)
print(a)
print(b)
print(c)

[1 3 5 7 9]
[ 5  7  9 11 13]
[5 7 9]

## Exercise 12. How to remove from one array those items that exist in another?

In [14]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

np.setdiff1d(a,b)

array([1, 2, 3, 4])

##  Exercise 13. How to get the positions where elements of two
arrays match?

In [16]:
a = np.array([1,2,3,4,5])
b = np.array([1,2,3,4,5])

np.where(a==b)

(array([0, 1, 2, 3, 4], dtype=int64),)

##  Exercise 14. How to extract all numbers between a given
range from a numpy array?

In [17]:
a = np.array([2, 6, 1, 9, 10, 3, 27])
a[(a>5) & (a<10)]

array([6, 9])

##  Exercise 15. How to make a python function that handles
scalars to work on numpy arrays?

In [6]:
def maxx(x,y):
    """Get the maximum of two items"""
    if x >= y:
        return x
    else:
        return y

# def pair_max(x,y):
#         # here I am using map to make tuple from a and b, other solution is using zip(a,b)
#         maximum = [maxx(a,b) for a,b in map(lambda a,b:(a,b),x,y)]
#         # using zip
#         # maximum = [maxx(a,b) for a,b in zip(x,y)]
#         return np.array(maximum)

def pair_max(x, y):
    # using zip to make pairs from x and y
    maximum = [max(a, b) for a, b in zip(x, y)]
    return np.array(maximum)


a = np.array([5, 7, 9, 8, 6, 4, 5])
b = np.array([6, 3, 4, 8, 9, 7, 1])

pair_max(a,b)

array([6, 7, 9, 8, 9, 7, 5])

##  Exercise 16. How to swap two columns in a 2d numpy array?

In [7]:
# Input: Create a 3x3 array with values from 0 to 8
arr = np.arange(9).reshape(3,3)

# Print the original array
print('Original array')
print(arr)

# Swap columns 1 and 2
arr = arr[:,[1,0,2]]

# Print the modified array
print("\nModified array")
print(arr)

Original array
[[0 1 2]
 [3 4 5]
 [6 7 8]]

Modified array
[[1 0 2]
 [4 3 5]
 [7 6 8]]

##  Exercise 17. How to swap two rows in a 2d numpy array?

In [9]:
# Question: Swap rows 1 and 2 in the array arr:

# Input: 

arr = np.arange(9).reshape(3,3)
print('Original array')
print(arr)

# Solution

print("\nModified array")
arr[[1,0,2], :]

Original array
[[0 1 2]
 [3 4 5]
 [6 7 8]]

Modified array

array([[3, 4, 5],
       [0, 1, 2],
       [6, 7, 8]])

##  Exercise 18. How to reverse the rows of a 2D array?

In [11]:
# Question: Reverse the rows of a 2D array arr.

# Input:

arr = np.arange(9).reshape(3,3)

print('Original array')
print(arr)

# Solution
print("\nModified array")
arr[::-1, :]

Original array
[[0 1 2]
 [3 4 5]
 [6 7 8]]

Modified array

array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])

##  Exercise 19. How to reverse the columns of a 2D array?

In [13]:
# Question: Reverse the columns of a 2D array arr.

# Input: arr = np.arange(9).reshape(3,3)

# Solution

arr = np.arange(9).reshape(3,3)
print('Original array')
print(arr)



print("\nModified array")
arr[:, ::-1]

Original array
[[0 1 2]
 [3 4 5]
 [6 7 8]]

Modified array

array([[2, 1, 0],
       [5, 4, 3],
       [8, 7, 6]])

##  Exercise 20. How to create a 2D array containing random
floats between 5 and 10?¶

In [16]:
r = np.random.uniform(5,10, size=(5,3))
r

array([[7.90107969, 5.90361449, 7.46667904],
       [9.0138332 , 5.53359284, 6.13447283],
       [7.23777657, 5.34109859, 5.88765599],
       [9.92657846, 5.66904927, 9.19084599],
       [9.48825847, 6.62072069, 7.43724684]])

##  Exercise 21. How to print only 3 decimal places in python
numpy array?

In [6]:
rand_arr = np.random.random((5,3))
print('Original array')
print(rand_arr)

print("\nModified array")
np.set_printoptions(precision=3)
print(rand_arr)

Original array
[[0.44768501 0.2867666  0.23262869]
 [0.74524611 0.61863465 0.3804391 ]
 [0.20430443 0.74256616 0.6406213 ]
 [0.33358002 0.93842112 0.8029164 ]
 [0.83183266 0.1288524  0.33880475]]

Modified array
[[0.448 0.287 0.233]
 [0.745 0.619 0.38 ]
 [0.204 0.743 0.641]
 [0.334 0.938 0.803]
 [0.832 0.129 0.339]]

##  Exercise 22. How to pretty print a numpy array by
suppressing the scientific notation (like 1e10)?

In [8]:
# a = np.random.seed(100)
np.random.seed(100)
rand_arr = np.random.random([3,3])/1e3
np.set_printoptions(suppress=False)
rand_arr

array([[0.001, 0.001, 0.   ],
       [0.   , 0.   , 0.   ],
       [0.001, 0.001, 0.   ]])

##  Exercise 23. How to limit the number of items printed in
output of numpy array?

In [3]:
a = np.arange(15)
np.set_printoptions(threshold=6)
a

array([ 0,  1,  2, ..., 12, 13, 14])

##  Exercise 24. How to print the full numpy array without
truncating

In [4]:
a = np.arange(15)

np.set_printoptions(threshold=15)# threshold = arange
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

##  Exercise 25. How to import a dataset with numbers and
texts keeping the text intact in python numpy?

In [8]:
iris_data = np.genfromtxt('C:/Users/KIIT/Downloads/employees.csv', delimiter=',', skip_header=1, 
                          usecols = [0,1,2,3,4,5], dtype = object)
iris_data

array([[b'Douglas', b'Male', b'8/6/1993', b'12:42 PM', b'97308',
        b'6.945'],
       [b'Thomas', b'Male', b'3/31/1996', b'6:53 AM', b'61933', b'4.17'],
       [b'Maria', b'Female', b'4/23/1993', b'11:17 AM', b'130590',
        b'11.858'],
       ...,
       [b'Russell', b'Male', b'5/20/2013', b'12:39 PM', b'96914',
        b'1.421'],
       [b'Larry', b'Male', b'4/20/2013', b'4:45 PM', b'60500', b'11.985'],
       [b'Albert', b'Male', b'5/15/2012', b'6:24 PM', b'129949',
        b'10.169']], dtype=object)

##  Exercise 26. How to extract a particular column from 1D
array of tuples?

In [11]:
iris_data = np.genfromtxt('C:/Users/KIIT/Downloads/employees.csv', delimiter=',', skip_header=1, 
                          usecols = [0], dtype = object)
iris_data

array([b'Douglas', b'Thomas', b'Maria', ..., b'Russell', b'Larry',
       b'Albert'], dtype=object)

##  Exercise 27. How to convert a 1d array of tuples to a 2d
numpy array?

In [12]:
iris_data = np.genfromtxt('C:/Users/KIIT/Downloads/employees.csv', delimiter=',', skip_header=1, dtype='float', usecols=[0,1,2,3])
iris_data

array([[nan, nan, nan, nan],
       [nan, nan, nan, nan],
       [nan, nan, nan, nan],
       ...,
       [nan, nan, nan, nan],
       [nan, nan, nan, nan],
       [nan, nan, nan, nan]])

##  Exercise 28. How to compute the mean, median, standard
deviation of a numpy array?

##  Exercise 29. How to normalize an array so the values range
exactly between 0 and 1?

##  Exercise 30. How to compute the softmax score?

##  Exercise 31. How to find the percentile scores of a numpy
array?

##  Exercise 32. How to insert values at random positions in an
array?

## Exercise 33. How to find the position of missing values in
numpy array?

##  Exercise 34. How to filter a numpy array based on two or
more conditions?

##  Exercise 35. How to drop rows that contain a missing value
from a numpy array?

##  Exercise 43. How to get the second largest value of an array
when grouped by another array?

##  Exercise 44. How to sort a 2D array by a column

##  Exercise 45. How to find the most frequent value in a numpy
array?

##  Exercise 46. How to find the position of the first occurrence
of a value greater than a given value?

##  Exercise 47. How to replace all values greater than a given
value to a given cutoff?

##  Exercise 48. How to get the positions of top n values from a
numpy array?

##  Exercise 49. How to compute the row wise counts of all
possible values in an array?

##  Exercise 50. How to convert an array of arrays into a flat 1d
array?

##  Exercise 51.

##  How to get the n largest values of an array ?

##  Given an arbitrary number of vectors, build the cartesian
product (every combinations of every item).

##  Consider a 16x16 array, how to get the blocksum (block size is
4x4)?

##  Compute a matrix rank.

##  How to find the most frequent value in an array?

##  Extract all the contiguous 3x3 blocks from a random 10x10
matrix.